<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mix Retriever</title>
    <link rel="stylesheet" type="text/css" href="static/home_style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="static/jquery-ui.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="static/home.js"></script>
</head>
<body>
    <div class="outer_container">
        <!--<hr class="vline" />-->
        <div class="background_left"></div>
        <div class="background_right"></div>
        <div class="content">
            <p id="home_title">Mix Retriever</p>
            <div class="logo">
                <img src="static/dog_1.png" height="79" width="95">
            </div>
            <p id="home_desc">A content focused hip-hop playlist generator.</p>
            <div class="search_container">
                <button type="submit" id="create_button" onclick="postPlaylist()">Create</button>
                <input id="autocomplete" placeholder="Select an available hip-hop song">
            </div>
        </div>
        <div class="playlist">
            <ul id="tracks" style="list-style-type:none">

            </ul>
        </div>
        <div id="track_container">

        </div>
        <div id="about_container">
            <a id="about" href="https://zachheick.github.io/2017/12/12/Mix-Retriever/">About the Project</a>
        </div>
    </div>
</body>
</html>