.outer_container {
    width: 80%;
    margin: auto;
    background-color: blue;
}

.background_left {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #f9fbff;
    z-index: -1;
}

.background_right {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-color: #e2e2e2;
    z-index: -1;
}

.content {
    text-align: left;
    position: fixed;
    top:0;
    bottom: 50%;
    left: -50%;
    right: 0;
    margin: auto;
    width: 50%;
    height: 35%;
    background-color: transparent;
}

.logo {
    text-align: left;
    position: fixed;
    top:0;
    bottom: 40%;
    left: -50%;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    padding-left:75px;
}

.search_container {
    text-align: left;
    position: fixed;
    top:0;
    bottom: 45%;
    left: -50%;
    right: 0;
    margin: auto;
    width: 60%;
    height: 15%;
    background-color: transparent;
    padding-left: 15%;
}

.playlist {
    text-align: left;
    position: fixed;
    top:0;
    bottom: 30.5%;
    left: -50%;
    right: 0;
    margin: auto;
    width: 52%;
    height: 15%;
    background-color: transparent;
    padding-left:20px;
}

#track_container {
    position: absolute;
    top:0;
    bottom: 40%;
    left: 50%;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-menu-item {
    font-family: 'Rubik', sans-serif;
}

#home_title {
    font-size: 65px;
    font-family: 'Raleway', sans-serif;
    color: #ec0356;
    font-weight: 900;
    margin: auto;
    padding-left: 145px;
    line-height:47.5px;
}

#home_desc {
    font-size: 20.5px;
    font-family: 'Rubik', sans-serif;
    color: #7e7e7e;
    margin-bottom: auto;
    margin-top: 5px;
    padding-left: 147.5px;
}

#autocomplete {
    text-align: left;
    width: 60.5%;
    font-size: 22px;
    margin-right: 7.5px;
    border: 1px solid #cfcfcf;
    padding-left: 0.35em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: #7e7e7e;
    font-family: 'Rubik', sans-serif;
    border-radius: 7px;
}

#create_button {
    text-align: center;
    background-color: #ec0356;
    border: 1px solid #ec0356;
    border-radius: 7px;
    height: 1.75em;
    color: white;
    cursor: pointer;
    font-size: 20px;
    width: 100px;
    font-family: 'Rubik', sans-serif;
}

#create_button:hover {
    background-color:   #ba0142;
    border: 1px solid  #ba0142;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#tracks {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    text-align:left;
    line-height: 2em;
    height: auto;
}

#track {
    cursor: pointer;
    padding-left:5px;
    padding-right:40px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

#track:hover {
    background-color: #e2e2e2;
    border-radius: 8px;
    color: black;
}

.highlight {
    background-color: #e2e2e2;
    border-radius: 8px;
}

.hover {
    color: #7e7e7e;
}

.playing {
    color: #ec0356;
}

.playing_border {
    border: 3px solid #ec0356;
}

#album_art {
    margin: auto;
    display: block;
    width: 315px;
    height 315px;
    border-radius: 12px;
    border: 3px solid black;
}

#album_art:hover {
    cursor: pointer;
    opacity:0.75;
}

#album_art:active {
    cursor: pointer;
    opacity:0.4;
}

#progress_bar_container {
    width: 320px;
    background-color: #e2e2e2;
    margin: auto;
    border-radius: 10px;
}

#progress_bar {
    width: 0%;
    height: 5px;
    background-color: #ec0356;
    margin-top: 15px;
    border-radius: 10px;
}

#track_info {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-right: 40px;
    padding-left: 40px;
}

#lyrics {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    text-align: left;
    font-size: 18px;
    font-family: Courier New, Courier;
    color: #424242;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}



